.coverPic{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}
 

.shahe {
    width:250px; 
    height:250px;  
    margin-top:8vh;      
    margin-left:35vw; 
    z-index:1000;      
    position:fixed;   
}  

.zongheban {
    position: relative; 
    top:80vh;
    text-align: center;
}
.lantu {
    position: relative; 
    top:81vh;
    
    text-align: center;
}
.lianhe {
    position: relative;
    top:82vh;
    
    text-align: center;
}